@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Passero+One&family=Passion+One:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', serif;
    font-weight: 400;
    overflow-x: hidden;

    }

    #fixited{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        
    }
    
    
    .btn-brown {
    background-color: rgba(226, 204, 174, 1); /* cor marrom */
    border-color: rgba(226, 204, 174, 1); /* cor da borda */
    color: #4e3629;
    width: 10rem;
    font-weight: 700;
    font-size: 20px;
    margin-right: 3rem;
    font-family: 'Lexend Deca';
    
    }
    #doeagora{
    font-weight: bold;
    font-size: 1.2rem;
    }
    
    .btn-brown:hover {
    background-color: #cc9e879f; /* cor marrom escuro no hover */
    border-color: #cc9e879f; /* borda marrom escuro no hover */
    }
    
    
    .img{
    margin-top: -0.6rem;
    margin-left: 2rem;
    }

    .navbar-nav {
    width: 100%;
    font-family: "Lexend Deca";
    justify-content: space-around;
    }


    .container-text {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: justify; /* Centraliza verticalmente */
        align-items: center; /* Centraliza horizontalmente */
        text-align: center; /* Garante alinhamento do texto */
        min-height: 50vh; /* Faz a div ocupar toda a tela */
        padding: 1rem;
    }

    .h1sub {
        font-family: "Passion One", serif;
        font-weight: 700;
        font-size:33px;
        color: rgba(97, 53, 12, 1);
        margin-top: 2rem; /* Ajusta o espaçamento */
    }

    .psub {
        display: flex;
        font-size: 16px;
        max-width: 82%;
        margin-top: 1rem;
        
       
    }

    @media (min-width: 800px) {
        .psub {

            max-width: 42%;
            
            
        }
    }   
    
   
  
    .containersub{

        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;       
      
        padding-top: 6rem;  
        
    }

    @media (min-width: 1200px) {
        .containersub {
            padding-top: 10rem ;
            padding-left: 25rem;
            
        }
    }
    
   



    .circle {
        display: none; /* Esconde o círculo por padrão */
    }
    
   
    @media (min-width: 1200px) {
        .circle {
            display: flex;
            width: min(54vw, 200px);
            height: min(54vw, 200px);
            border-radius: 70%;
            background-color: #a36d40; 
            box-shadow: 
            0 0 0 40px #a36d40,
            0 0 0 90px #844f20,
            0 0 0 130px #5e3410,
            0 0 0 170px #1a0b02;
            transform: rotate(90deg);
            position: absolute;
            right: min(56vh, 6%);
            left: min(1200px, 15%);
            top: 16rem;
            align-items: center;
           
            text-align: justify;
           
            
            
        }
    }
      
    .containersubsub{
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;       
        text-align: center;      
        gap: 1rem;
    
        padding-bottom: 12rem;
    }

    @media (min-width: 1200px) {
        .containersubsub {
            padding-bottom: 19rem;
            padding-left: 25rem;

            
        }
    }


    input[type="email"]{
        border:solid 0.5px;
        border-color:  rgb(80, 80, 80);
        height: 50px;
        width: 310px;
        border-radius: 12px;
        
        outline: none;
        font-size: 16px;
        color: rgb(0, 0, 0);
        background-color:rgb(255, 255, 255) ;
        padding: 1rem;
        
    }

    @media(min-width: 800px){
        input[type="email"]{
            height: 50px;
            width: 400px;
            border-radius: 12px;
           
            padding: 1rem;
        }
    }

    button[type="submit"]{
        background-color: rgba(226, 204, 174, 1);
        border: 0.2px solid; /* cor marrom */
        border-color:  rgb(12, 12, 12);
        outline: none; 
        border-radius: 23px;/* cor da borda */
        color: #4e3629;
        width: 6rem;
        height: 2.5rem;
       font-weight: 500;
        font-size: 12px;
        margin-top: 1rem;
        
        padding: rem;
        
    }
    @media(min-width: 800px){
        button[type="submit"]{
            width: 10rem;
            height: 3rem;
            border-radius: 20px;
            font-size: 16px;
            margin-top: 1rem;

            
        }
    }







    footer {
        background-color: #FCE8D8;
        padding: 1.25rem 3.125rem;
        font-family: "Lexend Deca", sans-serif;
      }
      
      
      .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2.50rem;
      }
      
      
      .footer-left {
        max-width: 25rem;
        font-size: 0.75rem;
      }
      
      
      .footer-logo {
        height: 90px;
        margin-bottom: 0.625rem;
      }
      
      
      .footer-right {
        display: flex;
        gap: 40px;
        margin-top: 20px;
      }
      
      
      .footer-column {
        flex: 2;
        min-width: 200px;
        text-align: center;
      }
      
      
      .footer-column h3 {
        font-weight: 25rem;
        font-size: 16px;
        color: #535151;
        margin-bottom: 0.625rem;
      }
      .footer-column a:hover {
        color: #8B7777;
      }
      
      
      .footer-column a {
        color: #EC5907;
        text-decoration: none;
        font-size: 12px;
        display: block;
        margin-bottom: 0.3125rem;
      }
      
      
      .footer-column a:hover {
        text-decoration: underline;
      }
      
      
      
      @media (max-width: 768px) {
        footer {
          padding: 15px 30px;
        }
      
      
        .footer-container {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      
      
        .footer-left {
          max-width: 100%;
        }
      
      
        .footer-logo {
          height: 70px;
        }
      
      
        .footer-right {
          flex-direction: column;
          gap: 20px;
          width: 100%;
        }
      
      
        .footer-column {
          min-width: auto;
        }
      }
    
    
    
    
    
    
    
    